# zsh completion dump file
**/.zcompdump
**/.zcompcache
# history files
**/local/share/*
!**/local/share/man
# vim dot files
**/vim/.netrwhist
**/bundle/opt/fzf
# spoons
**/hammerspoon/Spoons
# platform specific binaries
**/local/bin/walk
